<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogfileBackup.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogfileBackup.Settings1>
            <setting name="LogsDirectory" serializeAs="String">
                <value>C:\NeverwinterNights\NWN</value>
            </setting>
            <setting name="LogDirNamePrefix" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="LogBackupDirectory" serializeAs="String">
                <value>C:\NeverwinterNights\LogArchive</value>
            </setting>
        </LogfileBackup.Settings1>
    </userSettings>
</configuration>